body {
  /* If the user cannot load the Arial font, the sans-serif font is used */
  font-family: Arial, sans-serif;
  background-color: #eafffb;
  width: 900px;
  margin: 0 auto;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

ul li a {
  text-decoration: none;
  color: inherit;
}

header > img {
  width: 100px;
}


.ingredients-list {
  list-style: square inside;
}

ol {
  list-style: upper-roman inside;
  font-family: helvetica;
}

.user_review h4 {
  font-size: 18px;
  font-weight: bold;
}
ol li:nth-of-type(2n) {
    background-color: whitesmoke;
}
input[type="radio"] {
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  width: 27px;
  height: 27px;
  background-image: url(../assets/stars.png);
  vertical-align: bottom;
}
input[type="radio"]:checked {
  background-position: 30px 30px;
}
input[type="select"] {
  cursor:pointer;
  outline: none;
}input[type="submit"] {
  cursor:pointer;
  outline: none;
  background-color: gold;
}
input:last-child {
    background: gold;
}
input[type="submit"]:hover {
  -webkit-filter: brightness(90%);
}

nav {
    display: inline-block;
}

nav ul li {
    display:  inline-block;
}

nav ul li a {
    padding: 20px;
    display: block;
}
aside {
  width: 180px;
  display: inline-block;
  margin-right: 15px;
  vertical-align: top;
}
section {
  display: inline-block;
  width: 700px;
}

.ingredients-list li {
  margin: 15px, 0px;
}

.directions li {
  margin: 15px, 0px;
}

label {
  display: block;
}

.reviews {
  margin-left: 195px;
}

input[type="text"], select {
  display: block;
  width: 175px;
}

select {
  margin: 10px 0;
  width: 180px;
}

textarea {
  width: 350px;
}
